*{
  margin: 0;
  padding: 0;
}

/* navigation bar code start here */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1244;
  padding: 10px 20px;
  border-bottom: 4px solid #041add;
  position: sticky;
  top: 0;
}
nav img{
  width: 40px;
  height: 50px;
  border-radius: 50%;
}
nav ul {
 display: flex; 
}
nav ul li{
  list-style: none;
  margin-left: 10px;
  margin-right: 5px;
}
nav ul li a{
  text-decoration: none;  
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.5s;
}
nav ul li a:hover{
  background-color: black;
  color: red;
  border-radius: 5px;
}
/* about page start here. */
#about_section{
  display: flex;
  width: 700px;
  border: 1px solid red;
  margin: 70px auto;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  box-shadow:10px 10px 5px red;
  border-radius: 5px;
}
.about_image_div{
  width: 400px;
}
.about_image_div img{
  max-width: 100%;
}
.about_text_div h1{
  font-size: 70px;
  color: green;
  font-weight: bold;  
  /* font-variant: small-caps; */  
}
.about_text_div h1::first-letter{
  font-size: 150px;
  color: blue;
}
.about_text_div a{
  text-decoration: none;
  background-color: green;
  color: #fff;
  padding: 10px 22px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 5px;
  
}
.about_text_div p{
  color:green ;
  
}
/* footer code start here. */
/* Footer code start from here. */
footer{
  background-color: #5F1E69;
  color: #fff;
  padding-bottom: 100px;
}
#footer_container{
  width: 900px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.footer_firstItem h3{
  font-size: 25px;
margin-top: 50px;
margin-bottom: 20px;
}
 .footer_firstItem :first-child p{
  margin-bottom: 50px;  
}
 
.footer_firstItem p:nth-child(2){
  margin-bottom: 10px; 
}
.footer_secondItem h3{
  font-size: 25px;
  padding: 30px 0;
  margin-top: 20px; 
}
.footer_secondItem  a{
  color: #fff;
  text-decoration: none;
}
.footer_secondItem p{
  margin-bottom: 10px
}

.footer_thirdItem div{
  font-size: 25px;
  padding: 30px 0;
  margin-top: 20px;
}
.footer_thirdItem div a{
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  background-color: #1A1244;
  padding: 10px;
  border-radius: 5px;
}
.footer_thirdItem p{
  margin-bottom: 10px;
}
.footer_thirdItem p:nth-child(3){
  margin-bottom: 20px;
  
}
.footer_thirdItem p span{
  color: rgb(5, 252, 5);
}
.footer_thirdItem p:nth-child(4){
  font-variant: small-caps;
}
  